* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
main {
  padding: 10px;
  width:100%;
}

.title {
  font-size: 3rem;
  display: grid;
}

/* Sidebar */
.sidebar {
  background: #2A3F54;
  color: #73879C;
  overflow-y: auto;
  min-height: 100vh;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 15px;
}
.logo {
  font-size: 1rem;
  line-height: 0;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: #73879C;;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  color: #73879C;;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid rgb(255, 255, 255);
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid #1ABB9C;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 16px;
  color: #73879C;;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

.data {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.plastique {
  color: blueviolet;
}
.papier {
  color: crimson;
}
.composte {
  color: greenyellow;
}
.canette {
  color: grey;
}